<div class="card">
    <div class="card-body">
        <div class="wizard">
            <button class="btn btn-info" [routerLink]="['info']">Basic Info</button>
            <button class="btn btn-info" [routerLink]="['tags']">Tags</button>
        </div>
        <router-outlet></router-outlet>

        <div>
            <button class="btn btn-primary" (click)="onSave()" [disabled]="!isValid()">Save</button>
            <button class="btn btn-warning" [routerLink]="['/content']">Cancel</button>
        </div>
    </div>
</div>