<nav class="navbar navbar-expand navbar-light">
  <button class="btn btn-info">Routing</button>
  <ul class="navbar-nav">
    <li class="navbar-item">
      <a class="nav-link">Home</a>
    </li>
    <li class="navbar-item">
      <a class="nav-link">Content</a>
    </li>
    <li class="navbar-item">
      <a class="nav-link">About</a>
    </li>
    <li class="navbar-item">
      <a class="nav-link">Help</a>
    </li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>