<span class="fa fa-spinner spinner" *ngIf="loading"></span>

<nav class="navbar navbar-expand navbar-light">
  <ul class="navbar-nav">
    <li class="navbar-item">
      <a class="nav-link" 
          routerLink="/home"
          routerLinkActive="active">Home</a>
    </li>
    <li class="navbar-item">
      <a class="nav-link" 
          routerLink="/content"
          routerLinkActive="active">Content</a>
    </li>
    <li class="navbar-item">
      <a class="nav-link" 
          routerLink="/about"
          routerLinkActive="active">About</a>
    </li>
    <li class="navbar-item">
      <a class="nav-link" 
          routerLink="/help"
          routerLinkActive="active">Help</a>
    </li>
  </ul>
</nav>
<div class="container"
      [@myTransitionAnimation]="o.isActivated ? o.activatedRoute : ''">
  <router-outlet #o="outlet"></router-outlet>
</div>